@keyframes logo {
    0% {
        fill: transparent;
        stroke-dashoffset: 7000;
        stroke-width: 25;

    }

    20% {
        stroke-dashoffset: 10;
        fill: transparent;
        stroke-width: 10;

    }

    20.2% {
        stroke-width: 5;
        stroke-dashoffset: 0;
        fill: #dfff0e;
    }

    40% {
        stroke-width: 5;
        stroke-dashoffset: 0;
        fill: #dfff0e;
    }

    50% {
        stroke-width: 0;

        stroke-dashoffset: 0;
        fill: #9371a8;
    }

    70% {
        stroke-dashoffset: 0;
        fill: #9371a8;
    }

    80% {
        stroke-dashoffset: 0;
        fill: #fff;
        stroke-width: 0;
    }

    100% {
        stroke-dashoffset: 0;
        fill: #fff;
        stroke-width: 0;
    }
}

@keyframes bounce-left {

    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    5% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-11px);
        -webkit-transform: translateX(-11px);
        -moz-transform: translateX(-11px);
        -ms-transform: translateX(-11px);
        -o-transform: translateX(-11px);
    }

    25% {
        transform: translateX(0);
    }

    28% {
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        -o-transform: translateX(-5px);
    }

    35% {
        transform: translateX(0);
    }

    42% {
        transform: translateX(-2.5px);
        -webkit-transform: translateX(-2.5px);
        -moz-transform: translateX(-2.5px);
        -ms-transform: translateX(-2.5px);
        -o-transform: translateX(-2.5px);
    }

    57% {
        transform: translateX(0);
    }

    63% {
        transform: translateX(-1px);
        -webkit-transform: translateX(-1px);
        -moz-transform: translateX(-1px);
        -ms-transform: translateX(-1px);
        -o-transform: translateX(-1px);
    }

    70% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes contentButton {
    0% {
        opacity: 0;
        transform: translateY(250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes down {
    0% {
        opacity: 0;
        transform: translateY(-250px);
        -webkit-transform: translateY(-250px);
        -moz-transform: translateY(-250px);
        -ms-transform: translateY(-250px);
        -o-transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        content: 'ohoooooo';
    }
}

@keyframes recorrido {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);

    }

    50% {
        transform: scale(2);
        -webkit-transform: scale(5);
        -moz-transform: scale(5);
        -ms-transform: scale(5);
        -o-transform: scale(5);
        border: 5px solid rgb(152, 238, 255);

    }

    100% {
        transform: scale(6);
        -webkit-transform: scale(6);
        -moz-transform: scale(6);
        -ms-transform: scale(6);
        -o-transform: scale(6);
        border: 15px solid rgb(132, 141, 240);

    }
}