@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&family=Roboto:wght@100;300;500;700;900&display=swap');

:root {
    --bg-color: #11001e;
    --bg-gradient: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    --bg-gradient-w: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
    --bg-gradient-th:  linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    --color-first: #ffff;
    --color-sec: #76217d;
    --color-th: #9aa9ff;
    --color-ur: #81a9c8;
    --color-ve: #1d1d1d;
    --font-primary: 'Roboto', sans-serif;;
    --text-size-nav: 14px;
    --text-size-first: 2.5rem;
    --text-size-sec: 2rem;
    --text-size-th: 1.2rem;
    --text-size-ur: 1rem;
    --text-size-ve: 0.75rem;
    --text-line-texts: 2.4rem;

  }
*{ font-family: var(--font-primary);
    text-decoration: none;
    list-style: none;
    border: 0px;
    font-weight: 300;
    margin: 0px;
}
b{
    color: var(--color-sec);
    font-weight: 400;
}
  body{
    background-color: #000;
    color: var(--color-first);
    background-blend-mode: multiply;

  }
  .container{
    text-align: center;
    width: 1280px;
    margin: 0 auto;
  }
#header{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
}
header{
    background: #000;
}
.header__logo{
    width: 130px;
    display: flex;
    flex-wrap: nowrap;
}
.header__logotext{
    width: 100px;
    position: relative;
    left: 5px;
    top: -2px;
}
.header__svg{
  width: 30px;
  stroke: #fff;
  stroke-width: 11;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: bounce-left 3s ease-in-out 1s infinite, logo 5s infinite;
  animation-iteration-count: infinite;
  -webkit-animation: bounce-left 3s ease-in-out 1s infinite, logo 5s infinite;
}
@keyframes logo {
    0% {fill: transparent;
      stroke-dashoffset: 7000;
      stroke-width: 25;

    }
    20% {
      stroke-dashoffset: 10;
      fill: transparent;
      stroke-width: 10;

    }
  20.2% {
    stroke-width: 5;
      stroke-dashoffset: 0;
      fill: #dfff0e;
    }
  40% {
    stroke-width: 5;
      stroke-dashoffset: 0;
      fill: #dfff0e;
    }
  50% {    stroke-width: 0;

      stroke-dashoffset: 0;
      fill: #9371a8;
    }
 70% {
      stroke-dashoffset: 0;
      fill: #9371a8;
    }
    80% {
        stroke-dashoffset: 0;
        fill: #fff;
        stroke-width: 0;
      }
    100% {
        stroke-dashoffset: 0;
        fill: #fff;
        stroke-width: 0;
      }
  }
  @keyframes bounce-left {

    0% {
        transform:translateX(0);
        -webkit-transform:translateX(0);
        -moz-transform:translateX(0);
        -ms-transform:translateX(0);
        -o-transform:translateX(0);
}
    5% {
        transform:translateX(0);
    }
    20% {
        transform:translateX(-11px);
        -webkit-transform:translateX(-11px);
        -moz-transform:translateX(-11px);
        -ms-transform:translateX(-11px);
        -o-transform:translateX(-11px);
}
    25% {
        transform:translateX(0);
    }
    28% {
        transform:translateX(-5px);
        -webkit-transform:translateX(-5px);
        -moz-transform:translateX(-5px);
        -ms-transform:translateX(-5px);
        -o-transform:translateX(-5px);
}
    35% {
        transform:translateX(0);
    }
    42% {
        transform:translateX(-2.5px);
        -webkit-transform:translateX(-2.5px);
        -moz-transform:translateX(-2.5px);
        -ms-transform:translateX(-2.5px);
        -o-transform:translateX(-2.5px);
}
    57% {
        transform:translateX(0);
    }
    63% {
        transform:translateX(-1px);
        -webkit-transform:translateX(-1px);
        -moz-transform:translateX(-1px);
        -ms-transform:translateX(-1px);
        -o-transform:translateX(-1px);
}
    70% {
        transform:translateX(0);
    }
    100% {
        transform:translateX(0);
    }
}
.header__nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.header__nav li{
    padding: 10px;
}
.header__nav a{
    font-family: var(--font-primary);
    color: var(--color-first);
    font-weight: 300;
     font-size:var(--text-size-nav)
}
.header__nav a:hover{
    color: var(--color-th);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.login__button{
    background-color: var(--color-sec);
    font-size: var(--text-size-ve);
    padding: 0px 12px 10px 10px;
    color: var(--color-first);
    border: 0px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.login__button:hover{
    background-color: var(--color-first);
    color: var(--color-sec);

}
.login__button span{
    position: relative;
    top: 7px;
    margin-right: 5px;
    padding: 0px;
    font-size: 21px
}
#hero{
    min-height: 80vh;
}
.hero__content{
    position: relative;
    width: 25vw;
    height:200px;
    padding: 30px;
    background-color:rgba(0,0,0,0.15);
    margin: 0 auto;
    margin-top: 10vw;
    text-align: center;
}
.hero__content::before, .hero__mask{
    content: '';
    position: absolute;
    z-index: -1;
    top:70%;
    left: 50%;
    display: block;
    width: 1000px;
    height: 800px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.hero__content::before{
    background: url(../img/circuito-01.svg);
    opacity: 0.3;
}

.hero__mask{
    display: grid;
    place-items: center;
    mask: url(../img/circuito-01.svg);
    -webkit-mask: url(../img/circuito-01.svg);
    mask-size: 100vmin;
    mask-repeat: no-repeat;
    mask-position: center;
    box-shadow: -3px 0px 25px 1px rgba(37,255,255,0.75);
    -webkit-box-shadow: -3px 0px 25px 1px rgba(37,255,255,0.75);
    -moz-box-shadow: -3px 0px 25px 1px rgba(37,255,255,0.75);
}

.hero__mask::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 140px 130px 140px 130px;
    border:15px solid rgb(132, 141, 240);
    animation: recorrido 8s  infinite;
    animation-delay: 0.5s;
    -webkit-animation: recorrido 8s  infinite;
    overflow: hidden;
}
@keyframes recorrido{
0%{
        transform: scale(0)     ;
        -webkit-transform: scale(0)     ;
        -moz-transform: scale(0)     ;
        -ms-transform: scale(0)     ;
        -o-transform: scale(0)     ;

}
    50%{
        transform: scale(2)     ;
        -webkit-transform: scale(5)     ;
        -moz-transform: scale(5)     ;
        -ms-transform: scale(5)     ;
        -o-transform: scale(5)     ;
        border:5px solid rgb(152, 238, 255);

}
    100%{
        transform: scale(6);
        -webkit-transform: scale(6)     ;
        -moz-transform: scale(6)     ;
        -ms-transform: scale(6)     ;
        -o-transform: scale(6) ;
        border:15px solid rgb(132, 141, 240);

}
}
.hero__titulo{
    font-family: var(--font-primary);
    font-size: var(--text-size-first);
    animation: contentButton 1s ease  0.4s 1 normal both;
    margin-top: -20px;
    -webkit-animation: contentButton 1s ease  0.4s 1 normal both;
    line-height: 4rem;
    font-weight: 400;
}

.hero__titulo span{
 font-size: 4rem;
}

.cel{
    width: 200px;
    height: 300px;
    position: relative;
    background-image: url(../img/iPhone0.jpg);
    background-size: 100%;
    animation: cel-animated 2s infinite;
    display: none;
}
.hero__button{
        border-radius: 8px;
        padding: 12px 15px;
        background-color: var(--color-sec);
        color: var(--color-first);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        cursor: pointer;
        font-size: var(--text-size-ur);
        animation: contentButton 2s ease 0.4s 1 normal both;
        -webkit-animation: contentButton 2s ease 0.4s 1 normal both;
        font-weight: 300;
        margin-top: 40px;
}

.hero__button:hover{
    color:  var(--color-sec);
    background-color:var(--color-first);
}

@keyframes contentButton {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}
 
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes down {
	0% {
		opacity: 0;
		transform: translateY(-250px);
		-webkit-transform: translateY(-250px);
		-moz-transform: translateY(-250px);
		-ms-transform: translateY(-250px);
		-o-transform: translateY(-250px);
}

	100% {
		opacity: 1;
		transform: translateY(0);
        content: 'ohoooooo';
	}
}
#about{
    background-color: #fff;
    min-height: 95vh;
    width: 100%;
    padding: 0px;
    /* background: url(../img/about.jpg) no-repeat; */
    background-size: 100%;
padding-bottom: 10rem;
}

.about__img{
    width: 120px;
    padding-top: 10%;
    fill: #fff;
    animation: down 1s ease  0.4s 1 normal both;
    -webkit-animation: down 1s ease  0.4s 1 normal both;
}
.about__titulo{
    color: var(--color-ve);
 font-size: var(--text-size-sec);
 font-weight: 400;
}
.about__text{
color: var(--color-ve);
margin: 0 auto;
width: 100%;
font-weight: 300;
font-size: calc( var(--text-size-ur)*1.1);
line-height: var(--text-line-texts);
margin-top: 80px;
column-count: 2;
    column-gap: 10rem
}

#cards{
   min-height:95vh;
background: var(--bg-gradient-th);
margin: 0px
}

.cards__content{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.card{
    width: 21%;
    padding:35px;
    border-radius: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #eeeeee;
    margin-top: 5%;
    color: var(--color-ve);
    font-size: var(--text-size-ur);
    font-weight: 300;
    line-height: calc(var(--text-line-texts) /1.4) ;
    border: 2px solid #fff;
    align-self: center;
    padding-bottom: 50px;
}
.card h4{
    font-weight: 400;
    font-size: var(--text-size-th);
    margin: 20px 0px;
}
.card span{
    font-size: 50px;
    color: var(--color-sec)
}
.cards__titulo{
    color: var(--color-first);
 font-size: var(--text-size-sec);
 padding-top: 5%;
 padding-bottom: 5%;
 font-weight: 400;
}

.cards__content .card:nth-child(2){
    margin-top: -20px;
    padding-bottom:5vw;
    
}
#contact{
    min-height:95vh;
 background: #fff;
 color: var(--color-ve);
 }
.contact__content{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 8rem;
}
.contact__titulo{
 font-size: var(--text-size-sec);
 padding-top: 6%;
 font-weight: 400;

}
.contact__mapa{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 30px;
}
.contact__form{
    color: var(--color-ve);
    text-align: left;
}
.contact__form label{
    font-size: var(--text-size-th);
    font-weight: 400;
}
.contact__form input, .contact__form textarea{
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    padding: 10px ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    margin: 15px 0px;
    min-width: 300px;
} 
.form__element{
    margin: 25px 0px;
}
.form__button{
    color: var(--color-first);
    background-color: var(--color-sec);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 400;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.form__button:hover{
    background-color: var(--color-ur);
    color: var(--color-first);
}
footer{
    min-height: 12vh;
    background-color: #dedede;
    color: var(--color-ve);
    padding: 20px;
}
.footer__logo{
    width: 110px;
    display: inline;
    margin-bottom: 20px;
    margin-top: 20px;

}
.footer__logo:nth-child(1){
    width: 30px;
}
footer span{
    display: block;
}