@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&family=Roboto:wght@100;300;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

:root {
    --bg-color: #11001e;
    --bg-gradient: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    --bg-gradient-w: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0.02) 61%, rgba(0, 0, 0, 0.02) 73%), linear-gradient(33deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    background-blend-mode: normal, color-burn;
    --bg-gradient-th: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    --color-first: #ffff;
    --color-sec: #76217d;
    --color-th: #9aa9ff;
    --color-ur: #81a9c8;
    --color-ve: #1d1d1d;
    --font-primary: 'Roboto', sans-serif;
    --text-size-nav: 14px;
    --text-size-first: 2.5rem;
    --text-size-sec: 2.5rem;
    --text-size-th: 1.2rem;
    --text-size-ur: 0.9rem;
    --text-size-ve: 0.75rem;
    --text-line-texts: 2.2rem;
}

* {
    scroll-behavior: smooth;

    font-family: var(--font-primary);
    text-decoration: none;
    list-style: none;
    border: 0px;
    font-weight: 300;
    margin: 0px;
}

b {
    color: var(--color-sec);
    font-weight: 400;
}

main {
    scroll-behavior: smooth;

}

body {
    background-color: #000;
    color: var(--color-first);
    background-blend-mode: multiply;

}

.container {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

#header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
}

header {
    background: #000;
    position: relative;
    z-index: 100;
}

.header__logo {
    width: 130px;
    display: flex;
    flex-wrap: nowrap;
}

.header__logotext {
    width: 100px;
    position: relative;
    left: 5px;
    top: -2px;
}

.header__svg {
    width: 30px;
    stroke: #fff;
    stroke-width: 11;
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
    animation: bounce-left 3s ease-in-out 1s infinite, logo 5s infinite;
    animation-iteration-count: infinite;
    -webkit-animation: bounce-left 3s ease-in-out 1s infinite, logo 5s infinite;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.navbar-list li {
    padding: 10px;
}

.navbar-list a {
    font-family: var(--font-primary);
    color: var(--color-first);
    font-weight: 300;
    font-size: var(--text-size-nav)
}

.navbar-list a:hover {
    color: var(--color-th);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.header__nav label span {
    font-size: 35px;
    display: none;
}

#toggle-menu {
    display: none;
}

.login__button {
    background-color: var(--color-sec);
    font-size: var(--text-size-ve);
    padding: 0px 12px 10px 10px;
    color: var(--color-first);
    border: 0px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 1s;
    margin-left: 20px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.login__button-reg{
    background-color: var(--color-first);
    color: var(--color-sec);
    font-size: var(--text-size-ve);
    padding: 0px 12px 10px 10px;
    border: 0px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 1s;
    margin-left: 20px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.login__button:hover {
    background-color: var(--color-first);
    color: var(--color-sec);

}
.login__button-reg:hover {
    color: var(--color-first);
    background-color: var(--color-sec);

}

.login__button span {
    position: relative;
    top: 7px;
    margin-right: 5px;
    padding: 0px;
    font-size: 21px
}

#hero {
    width: 100%;
    min-height: 80vh;
    position: relative;
    background-color: #000;

}

.hero__content {
    position: relative;
    width: 25vw;
    height: 200px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    margin-top: 10vw;
    text-align: center;
}

.hero__content::before,
.hero__mask {
    content: '';
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 50%;
    display: block;
    width: 1000px;
    height: 800px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.hero__content::before {
    background: url(../img/circuito-01.svg);
    opacity: 0.3;
}

.hero__mask {
    display: grid;
    place-items: center;
    mask: url(../img/circuito-01.svg);
    -webkit-mask: url(../img/circuito-01.svg);
    box-shadow: -3px 0px 25px 1px rgba(37, 255, 255, 0.75);
    -webkit-box-shadow: -3px 0px 25px 1px rgba(37, 255, 255, 0.75);
    -moz-box-shadow: -3px 0px 25px 1px rgba(37, 255, 255, 0.75);
}

.hero__mask::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 140px 130px 140px 130px;
    border: 15px solid rgb(132, 141, 240);
    animation: recorrido 8s infinite;
    animation-delay: 0.5s;
    -webkit-animation: recorrido 8s infinite;
    overflow: hidden;
}

.hero__titulo {
    font-family: var(--font-primary);
    font-size: var(--text-size-first);
    animation: contentButton 1s ease 0.4s 1 normal both;
    margin-top: -20px;
    -webkit-animation: contentButton 1s ease 0.4s 1 normal both;
    line-height: 4rem;
    font-weight: 400;
    z-index: 5;
    position: relative;
}

.hero__titulo span {
    font-size: 4rem;
}

.cel {
    width: 200px;
    height: 300px;
    position: relative;
    background-image: url(../img/iPhone0.jpg);
    background-size: 100%;
    animation: cel-animated 2s infinite;
    display: none;
}

.hero__button {
    border-radius: 8px;
    padding: 12px 15px;
    background-color: var(--color-sec);
    color: var(--color-first);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
    font-size: var(--text-size-ur);
    animation: contentButton 2s ease 0.4s 1 normal both;
    -webkit-animation: contentButton 2s ease 0.4s 1 normal both;
    font-weight: 300;
    margin-top: 40px;
    z-index: 5;
    position: relative;
}

.hero__button:hover {
    color: var(--color-sec);
    background-color: var(--color-first);
}

#about {
    background-color: #fff;
    min-height: 95vh;
    width: 100%;
    /* background: url(../img/about.jpg) no-repeat; */
    background-size: 100%;
    padding-bottom: 10rem;
    position: relative;
    top: 6vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.about__content {
    background-color: #fff;

}

.about__photo {
    width: 100%;
    height: 150px;
    border-radius: 2px;
    margin: 50px 0px;
    background-image: url(../img/desk-bw.jpg);
    background-size: 100%;
    background-position: 0px -450px;
    position: fixed;
    bottom: 0px;
    z-index: -1;
    opacity: 0.3;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.about__photo-nofix {
    height: 150px;
    border-radius: 2px;
    margin: 50px 0px;
    background-image: url(../img/desk.jpg);
    background-size: 100%;
    background-position: 0px -450px;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.about__img {
    width: 100px;
    fill: #fff;
    animation: down 1s ease 0.4s 1 normal both;
    -webkit-animation: down 1s ease 0.4s 1 normal both;
}

.about__titulo {
    color: var(--color-ve);
    font-size: var(--text-size-sec);
    font-weight: 400;
}

.about__text {
    color: var(--color-ve);
    margin: 0 auto;
    width: 95%;
    font-weight: 300;
    font-size: var(--text-size-ur);
    line-height: var(--text-line-texts);
    margin-top: 80px;
    columns: 3;
    column-gap: 100px;
    text-align: left;
}

.about__icons {
    width: 130px;
}

#cards {
    min-height: 95vh;
    background: var(--bg-gradient-th);
    margin: 0px;
    padding-bottom: 10vw;
    padding-top: 5vw;
    position: relative;
    top: 6vw;
}

.cards__content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.card {
    width: 23%;
    padding: 35px;
    border-radius: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #f7f7f7;
    color: var(--color-ve);
    font-size: var(--text-size-ur);
    font-weight: 300;
    line-height: calc(var(--text-line-texts) /1.2);
    border: 2px solid #fff;
    align-self: stretch;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.card h4 {
    font-weight: 400;
    font-size: var(--text-size-th);
    margin: 20px 0px;
}

.card span {
    font-size: 50px;
    color: var(--color-ur)
}

.cards__titulo {
    color: var(--color-first);
    font-size: var(--text-size-sec);
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px dotted #e8cae2;
    margin-bottom: 6vw;
    text-align: left;
    padding-left: 40px;
}

.cards__img {
    width: 350px;
    position: absolute;
    left: 65%;
    margin-top: -8px;
}


#contact {
    min-height: 95vh;
    background: #fff;
    color: var(--color-ve);
    position: relative;
    top: 6vw;
}

.contact__content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5vw;
    justify-content: space-between;

}

.contact__redes {
    width: 45%;
    color: var(--color-ve);
    text-align: left;
}

.contact__redes a {
    color: var(--color-ve);

}

.contact__redes a:hover {
    color: var(--color-sec);

}

.contact__redes a button {
    color: var(--color-first);
    padding: 5px 5px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-color: var(--color-ve);
    border-radius: 100%;
    cursor: pointer;
    margin: 5px 5px;
}

.contact__redes a:hover button {
    color: var(--color-ve);
    background-color: var(--color-ur);

}

.contact__redes p {
    margin-bottom: 15px;
    font-weight: 500;
}

.contact__titulo {
    font-size: var(--text-size-sec);
    padding-top: 5%;
    font-weight: 400;
}

.contact__mapa {
    width: 100%;
    height: 300px;
    margin-top: 70px;
    position: relative;
    bottom: 0%;
}

.contact__form {
    color: var(--color-ve);
    text-align: left;
    width: 45%;
}

.contact__form label {
    font-size: var(--text-size-th);
    font-weight: 400;
}

.contact__form input,
.contact__form textarea {
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    margin: 15px 0px;
    width: 100%;
}



.form__button {
    color: var(--color-first);
    background-color: var(--color-sec);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 400;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.form__button:hover {
    background-color: var(--color-ur);
    color: var(--color-first);
}

footer {
    min-height: 12vh;
    background-color: #000000;
    color: var(--color-first);
    padding: 20px;
    position: relative;
    top: 6vw;
}

.footer__logo {
    width: 110px;
    display: inline;
    margin-bottom: 20px;
    margin-top: 20px;

}

.footer__logo:nth-child(1) {
    width: 30px;
}

footer span {
    display: block;
}

/* INICIO DE SESIÓN */
.body__login {
    background-image: url(../img/circuito-01.svg);
    background-size: 40%;
    width: 100%;
    min-height: 65vh;
    background-color: #1b1b1b
}

.body__login header {
    background-color: transparent;
    display: block;
    margin: 0 auto;
}

.body__login header .header__logo {
    background-color: transparent;
    display: block;
    margin: 0 auto;
}


#login {
    min-height: 65vh;
    margin: 6vw auto;
    text-align: center;
    align-items: center;
}

.login__form {
    margin: 0 auto;
    text-align: center;
    width: 500px;
}

.login__form input {
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    margin: 25px 0px;
    width: 300px;
    padding-left: 50px;
    margin: 10px auto;
    text-align: left;
}

.login__icon {
    text-align: left;
    width: 25px;
    position: relative;
    top: 45px;
    left: -155px;
    display: inline-block;
    color: var(--color-ve);

}

.login__titulo {
    font-weight: 400;
    margin: 20px 0px;
}

.login__form button {
    padding: 10px 30px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.login__form a {
    color: #fff;
}

.login__form a:hover {
    color: var(--color-ur)
}

.login__back {
    background-color: var(--color-sec);

    margin: 10vw 0px;
    padding: 10px 15px;
    border-radius: 5px;
}

.login__back a {
    color: var(--color-first);
}

.login__back a:hover {
    color: var(--color-ve);
}

.login__back:hover {
    background: var(--color-th);
}

/* REGISTRO */

.body__registro {
    width: 100%;
    min-height: 65vh;
    background-color: rgb(246, 246, 246);
    padding: 0px;
    margin: 0px;
}

.body__registro header {
    margin-top: 0px;
    padding: 25px 0px;
    padding-top: 12px;
}

#registro {
    min-height: 65vh;
    margin: 6vw auto;
    text-align: center;
    align-items: center;
}

.registro__form {
    margin: 0;
    text-align: left;
    width: 700px;
}

.registro__form input {
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    margin: 25px 0px;
    width: 500px;
    padding-left: 50px;
    margin: 10px 0px;
    text-align: left;
}

.registro__form label {
    color: var(--color-ve);
}

.registro__form button {
    margin: 15px 0px;
}

.registro__titulo {
    color: var(--color-ve);
    font-weight: 500;
    margin-bottom: 40px;
    text-align: left;
}


/* RESPONIVE */
@media (min-width:2400px) {
#hero, #cards, #about{
    min-height: 50vh;
}
}

@media (max-width:980px) {

.container{
    width: 90%;
}
#header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
}
#header {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
}
.login__button{
    margin:30px 10px;
}
#hero {
    overflow: hidden;
}
.hero__content {
    position: relative;
    width: 75%;
    background-color: transparent;

}
.about__photo-nofix{
    background-position: center ;

}
.about__text {
    width: 95%;
    margin-top: 80px;
    columns: 2;
    column-gap: 100px;
    text-align: left;
}

.cards__content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
}
.card{
    width: 90%;
    padding: 40px 15px;
    margin-bottom: 30px;
}
.cards__img{
    left: 50%;
}
}
@media (max-width:574px) {

.navbar-list{
    background: var(--color-ve);
    color: var(--color-first);
    width: 100%;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.navbar label span{
    display: block;
}

#toggle-menu:checked  ~ .navbar-list{
    display: flex ;
}

.hero__content {
    position: relative;
    width: 70%;
    height: 200px;
    padding: 10px;
    background-color: transparent;
    margin: 0 auto;
    margin-top: 20vw;
    text-align: center;
}
#cards {
    min-height: 95vh;
    background: var(--bg-gradient-th);
    margin: 0px;
    padding-bottom: 10vw;
    padding-top: 5vw;
    position: relative;
    top: 6vw;
}
.cards__content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
}
.card{
    width: 90%;
    padding: 40px 15px;
    margin-bottom: 30px;
}
.cards__img{
    position: relative;
    left: 0%;
    margin-top: 25px;
}
.cards__titulo {
    padding-bottom: 0;
    margin-bottom: 6vw;
    text-align: center;
    padding-left: 0px;
}
.about__text {
    width: 95%;
    margin-top: 80px;
    columns: 1;
    column-gap: 100px;
    text-align: left;
}

.contact__content {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5vw;
    flex-direction: column;
    justify-content: center;
}
.contact__form {
    width: 90%;
    margin-bottom: 30px;
}
.login__form {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.login__form input {
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    margin: 25px 0px;
    width: 50%;
    padding-left: 50px;
    margin: 10px auto;
    text-align: left;
}
.registro__form {
    margin: 0;
    text-align: left;
    width: 90%;
}


.registro__form input {
    width: 90%;
}
}