
*{
    --bg-b: #000;
    --bg-w: #fff
}
@keyframes bg{
    from {      background-image: url('img/bg.jpg');
    }
    to { 
        background-image: url('img/bg2.jpg');

  }
}
body{
    background-color: var(--bg-b);
    background-image: url('img/bg.jpg');
    background-size: 90%;
    min-height: 100vh;
    font-family: 'lato', sans-serif;
    animation: bg 5s infinite;
    -webkit-animation: bg 5s infinite;
    animation-direction: alternate-reverse;
}

header{
font-family: sans-serif ;
    padding: 5px 0px;

}
.container{ text-align: center;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#hero{
    color: var(--bg-w);
}

#hero h2{
    font-size:150px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 700;
    line-height: 90px;
    background: #FF1269;
background: linear-gradient(to top, #FF1269 40%, #d071cd 85%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
h2 span{
    font-family: 'Satisfy', cursive;
    font-size: 140px;
    color: #ffffff;
    background: linear-gradient(to top, #FF1269 100%, #FF1269 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#hero p{    font-family: 'lato', sans-serif;
    line-height: 36px;
    font-size: 18px;
}
.logo img{
    width: 70px;
}

nav li{
display: inline;
margin-left: 20px;
color: #a9007e
}

a{ color: #ffffff;
    text-decoration: none; 
    border: 0px;
}
a:hover{ color: #413d40;
}

.myButton {
    background-color:#ffffff;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-size:15px;
    padding:10px 20px;
    text-decoration:none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 10px 10px;
}
button:hover {
	background-color:#ccc;
    color: var(--bg-b);

}
.myButton2 {
    background-color:#a9007e;
    display:inline-block;
    cursor:pointer;
    color:var(--bg-w);
    font-size:15px;
    padding:10px 20px;
    text-decoration:none;
    border: 0px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 10px 10px;
}

@keyframes move{
    from {  transform: translate(10px); /* Equivalente a translateX(10px) */
    }
    to { transform: translate(70px); /*EquivalenteatranslateX(10px)*/;
        -webkit-transform: translate(70px); 
        -moz-transform: translate(70px); 
        -ms-transform: translate(70px); 
        -o-transform: translate(70px);
}
  }

.photo{
    animation: move 2s ;
    -webkit-animation: move 2s infinite ;
    animation-direction: alternate-reverse;

}

#description{
    color: var(--bg-w);
}

#description p{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 30px;
    color: #171717;
    background-color: #ddd;
    padding: 30px 100px;
    margin-bottom: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}