header{
font-family: sans-serif ;
background-color: #f4f4f4;
    padding: 5px 0px;

}
.container{ text-align: center;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f4f4f4;

}.caja{
}
.logo img{
    width: 70px;
}

nav li{
display: inline;
margin-left: 20px;
color: #a9007e
}

a{ color: #ff008c;
    text-decoration: none;
    border: 0px;
}
a:hover{ color: #413d40;
}