*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 90%;
    margin: 0 auto;
}
.card{
    text-transform: uppercase;
    padding: 20px;
    background-color:aliceblue;
    width: 250px;
    text-align: center;
    margin-top: 40px;
}
.card img{
    border-radius: 20px;
    width: 200px;
}
.card p{
    font-weight: bold;
    color: #fff;
    background-color: rgb(0, 78, 52);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.error{
    background-color: rgb(154, 0, 0);
    color: white;
    padding: 5px;
    margin-top: 20px;
    width: 300px;
    border: 1px solid #ff4f0f;
    text-align: center;
}
#buscar{
    background-color: black;
    color: #fff;
    text-decoration: none;
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
#buscar:hover{
    background-color:rgb(0, 78, 52);
}